*{
	margin: 0;
	padding: 0;
}

.body{
	width: 75vh;
	margin: 0 auto;
	height: 100vh;
}
.dialog{
	box-sizing: border-box;
	justify-content: end;
	flex-direction: column;
	display: flex;
  	align-items: end;
	padding: 20px 15px;
	height: 85%;
/*	background: black;*/
	width: 100%;
	-webkit-box-shadow: 0px -5px 10px 2px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px -5px 10px 2px rgba(34, 60, 80, 0.2);
	box-shadow: 0px -5px 10px 2px rgba(34, 60, 80, 0.2);
	border: solid 1px #000;
}
.msg{
	width: 100%;
	display: flex;
	height: 45px;
	margin: 10px auto;
	align-items: center;
}
.txt{
	box-sizing: border-box;
  	padding: 10px;
	width: 100%;
	height: 45px;
}
.btn{
	width: 45px;
	height: 45px;
	margin-left: 20px;
	cursor: pointer;
	background: none;
	border: 1px solid #000;
}
.circle{
	width: 5em;
	border-radius: 50%;
	height: 5em;
	border: 1px #000 solid;
}
.post{
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
	display: flex;
	margin: 15px auto;
}
.text{
	width: 80%;
	text-align: justify;
}